* {
  margin: 0;
  padding: 0;
}

.header-row-container {
  min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-parts {
  display: flex;
  flex-direction: column;
}

#logo {
  width: 130px;
  height: 130px;
  background-color: black;
  border-radius: 50%;
  font-family: Noto Sans Mono, monospace, sans-serif;
  font-size: 24px;
  color: #04DE00;
  line-height: 115px;
  text-align: center;
  margin: 20px;
}

.greater-than {
  animation: blink 2s linear infinite;
  animation-iteration-count: 3;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


nav {
 
}

nav ul {
  list-style-type: none;
  padding: 16px;
}

nav li {
  display: inline;
  

}

nav a {
  font-weight: lighter;
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  margin: 0 10px;
  border: 1px solid ghostwhite;
  border-radius: 3px;
  
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  background-color: #00162F;
  color: ghostwhite;
}

h1 {
  color: ghostwhite;
}

.homepage-main-text {
  vertical-align: middle;
}